<section *ngIf="article">
  <!-- header mobile -->
  <section class="Header-mob Inter">
    <div class="carnet">
      Carnet de voyages
    </div>
    <div class="weather">
      Tirana <br> ☀️ 31°C
    </div>
  </section>


  <app-title-article></app-title-article>


  <app-button-retour></app-button-retour>

  <!-- voyage -->
  <h2 class="Lora title">Le voyage</h2>

  <app-voyage-summery emptyText="{{article.textAboutTheTrip}}"></app-voyage-summery>


  <app-avis></app-avis>
  <!-- resume -->
  <h2 class="Lora title">En résumé</h2>

  <app-voyage-summery emptyText="{{article.resume}}"></app-voyage-summery>



  <app-pour-voyager-un-peu-plus></app-pour-voyager-un-peu-plus>

</section>
