<section>
  <ul>
    <li *ngFor="let article of articles">
      <a routerLink="/articles/{{article.id}}">
        <img *ngIf="article.isMainArticle === true" src="{{article.principalImage}}" alt="img">
      </a>
    </li>
  </ul>

      <h2>Autres voyages</h2>
      <ul>
        <li *ngFor="let article of articles">
          <a routerLink="/articles/{{article.id}}">
            <img *ngIf="article.isMainArticle === false" src="{{article.principalImage}}" alt="img">
          </a>
        </li>
      </ul>


</section>
