/* .container{
  z-index: 9999;
} */
.icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
  /* width: clamp(74px, 13vw, 150px); */
  width: 7vw;
  border:none;
  padding: 30px;
}


.des {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: var(--color-brown);
  z-index: 1;


}

.des:hover, .mob:hover {
  cursor: pointer; /* 마우스 호버시 커서 모양 변경 */
}


@media (max-width: 967px) {
  .des{
    display: none;
  }

  .mob {
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 1;
    background-color: var(--color-brown);
    /* width: 74px; */
  }
  .icon{
    width: 4vw;
    padding: 22px;
  }
}
