
.back {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
  width: clamp(74px, 13vw, 150px);
}

button{
  background-color: var(--color-brown);
}

/* fixed back button */
/* .container {
  position: relative;
  height: 1000px; /* adjust as needed */


button {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

img{
  /* width: 30px; */
}
