
.img-resize {
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-column-gap: 1vh; */
  grid-row-gap: 1vh;
  }

