*{
  padding: 0;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.img {
  width: calc(33.33% - 10px);
  height: 100%;
  margin-bottom: 1.5vh;
  margin-left: 0.8vw;

}


.imgs {
  position: relative;
  object-fit: contain;
  margin-left: 2.5vw;
  /* margin: 0 auto 0; */

   /* border:5px solid green; */
}
.img-resize {
  width: 300px;
  height: 300px;
  object-fit: cover;
}


/*

@media (max-width: 768px) {
  img.img-resize {
    width: calc(30% - 10px);
    /* 간격을 위해 -10px을 줌 */
    @media (max-width: 967px) {
      .flex {
        flex-direction: column;
        align-items: center;
      }

      .imgs {
        width: 100%;
        margin-left: 0;

      }

    }
